<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>this is the home page</h1>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, suscipit beatae exercitationem quasi itaque totam blanditiis cumque enim laudantium fugit quam quidem impedit saepe ipsam aliquam ab non doloribus voluptatibus!
    </p>
    <button>click me!</button>
</body>
</html>